@import url('https://fonts.googleapis.com/css?family=Marck+Script&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&subset=cyrillic');
body{
background-repeat: no-repeat;
overflow:hidden;
font-family: 'Roboto', sans-serif;
background-image:url(../photo/fon_box.jpg);
background-size:100%;
background-size:cover;
width:100%;
height:100%;
}
#text_box{
float:left;
color:#1c1c1c;
font-size:128px;
font-family:'Marck Script',cursive;
width:870px;
height:172px;
margin:64px 0px 0px 8px;
}
#block_reg_kasper{
float:right;
width:900px;
height:368px;
margin:64px -420px 0px 0px;


}
#kasper_sher{
width:368px;
height:368px;
position: absolute;
}
#one{
	z-index: 1;
}
#block_reg_kasper:hover #block_reg{
margin:0px 482px 0px 0px;
transition: all .5s;
}
#block_reg_kasper:hover #kasper_sher{
transform:rotate(720deg);
transition: all .5s; 
}
#block_reg {
position: relative; 
	z-index:2;
float:right;
width:448px;
height:368px;
background-color:#1c1c1c;
margin:0px -420px 0px 0px;
border-radius:16px;
box-shadow: 7px 7px 5px rgba(0,0,0,0.6)
}

#block_reg h1{
width:172px;
height:32px;
float:left;
font-size:29px;
color:#e9e9e9;
font-family: 'Roboto', sans-serif;
margin:24px;
}
#block_reg hr{
	margin-top:-10px;
	margin-right:0px;
	width:384px;
	height:0px;
	float:right;
}
#block_reg Form{

margin-top:72px;
}
#block_reg input{
	width:350px;
	height:30px;
	border-radius:8px;
	background-color:#494a4a;
	margin:16px;
	margin-left:64px;
	font-size:22px;
	outline:none; 
	border:none;
	padding-left:10px;
	color:#e9e9e9;
}
.sub:hover{
	cursor:pointer;
	background-color:#494a4a;
	color:#e9e9e9;
	transform:scale(1.2,1.2);
	transition:All .4s; 
}
#block_reg a{
font-size:22px;
color:#e9e9e9;
text-decoration:none;
margin-left:64px;
}